<mat-toolbar>
    <mat-toolbar-row>
    <mat-icon>play_arrow</mat-icon>
      <h2>My Youtube 5</h2>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" [routerLink]="['upload']">
        <mat-icon>upload</mat-icon>
        Upload
    </button>
    </mat-toolbar-row>
</mat-toolbar>
<main class="main-container">
    @if(videoUrl){
        <app-video-player [url]="videoUrl" [videoInfo]="videoInfo$ | async"></app-video-player>
    }
    <app-lista-videos [videos]="videos$ | async" (selectVideo)="playVideo($event)"></app-lista-videos>
</main>