<div class="file-upload-container">
    <input
        type="file"
        class="file-input"
        (change)="updateValue($event)"
        #fileUpload
        accept=".mp4"
    >
    <div class="file-upload">
        {{fileName || "Nenhum arquivo selecionado"}}
        <button
            mat-mini-fab
            color="primary"
            class="upload-btn"
            type="button"
            (click)="fileUpload.click()"
        >
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>
</div>
